@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
	background-color: #060010;
	font-family: "Roboto", sans-serif;
    color: white;
}

button:hover {
	cursor: pointer;
}

@utility btn {
    @apply hover:scale-120;
    @apply active:scale-90;
	@apply duration-200;
    @apply transition-transform;
}

@utility btn-sm {
    @apply hover:scale-110;
    @apply active:scale-95;
	@apply duration-75;
    @apply transition-transform;
}
